In [99]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [100]:
train = pd.read_csv('../input/train.csv')
test = pd.read_csv('../input/test.csv')
print(train.shape,test.shape)
print("----------------------------------------------------")
print(train.info())
print("----------------------------------------------------")
print(train.describe())
print("----------------------------------------------------")
print(train.head())

((891, 12), (418, 11))
----------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None
----------------------------------------------------
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000         NaN    0.000000
50%     446.000000    0.000000    3.000000         NaN    0.000000
75%     668.500000    1.000000    3.000000         NaN    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
----------------------------------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [101]:
# 处理缺失数据
def fillData(pd_data):
    pd_data['Age'] = pd_data['Age'].fillna(pd_data['Age'].mean())
    pd_data['Fare'] = pd_data['Fare'].fillna(pd_data['Fare'].mean())
    pd_data['Embarked'] = pd_data['Embarked'].fillna('S')
    pd_data['Cabin'] = pd_data['Cabin'].fillna('U')
    return pd_data

full = train.append( test , ignore_index = True )
fillData(full)

print(full.head())
print(full.info())

    Age Cabin Embarked     Fare  \
0  22.0     U        S   7.2500
1  38.0   C85        C  71.2833
2  26.0     U        S   7.9250
3  35.0  C123        S  53.1000
4  35.0     U        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass     Sex  SibSp  Survived            Ticket
0       3    male      1       0.0         A/5 21171
1       1  female      1       1.0          PC 17599
2       3  female      0       1.0  STON/O2. 3101282
3       1  female      1       1.0            113803
4       3    male      0       0.0            373450
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age            1309 non-null float64
Cabin          1309 non-null object
Embarked       1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null object
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 122.8+ KB
None

In [102]:
sex_mapDict = {'male':1,'female':0}
full['Sex'] = full['Sex'].map(sex_mapDict)
print(full.head())

    Age Cabin Embarked     Fare  \
0  22.0     U        S   7.2500
1  38.0   C85        C  71.2833
2  26.0     U        S   7.9250
3  35.0  C123        S  53.1000
4  35.0     U        S   8.0500

                                                Name  Parch  PassengerId  \
0                            Braund, Mr. Owen Harris      0            1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...      0            2
2                             Heikkinen, Miss. Laina      0            3
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)      0            4
4                           Allen, Mr. William Henry      0            5

   Pclass  Sex  SibSp  Survived            Ticket
0       3    1      1       0.0         A/5 21171
1       1    0      1       1.0          PC 17599
2       3    0      0       1.0  STON/O2. 3101282
3       1    0      1       1.0            113803
4       3    1      0       0.0            373450

In [103]:
embarkedDf = pd.DataFrame()

embarkedDf = pd.get_dummies(full['Embarked'],prefix='Embarked')
print embarkedDf.info()
print embarkedDf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 3 columns):
Embarked_C    1309 non-null float64
Embarked_Q    1309 non-null float64
Embarked_S    1309 non-null float64
dtypes: float64(3)
memory usage: 30.8 KB
None
   Embarked_C  Embarked_Q  Embarked_S
0         0.0         0.0         1.0
1         1.0         0.0         0.0
2         0.0         0.0         1.0
3         0.0         0.0         1.0
4         0.0         0.0         1.0

In [104]:
full = pd.concat([full,embarkedDf],axis = 1)
full = full.drop('Embarked',axis=1)

In [105]:
print full.info()
print "-------------------------------------------------------"
print full.describe()
print "-------------------------------------------------------"
print full.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
Age            1309 non-null float64
Cabin          1309 non-null object
Fare           1309 non-null float64
Name           1309 non-null object
Parch          1309 non-null int64
PassengerId    1309 non-null int64
Pclass         1309 non-null int64
Sex            1309 non-null int64
SibSp          1309 non-null int64
Survived       891 non-null float64
Ticket         1309 non-null object
Embarked_C     1309 non-null float64
Embarked_Q     1309 non-null float64
Embarked_S     1309 non-null float64
dtypes: float64(6), int64(5), object(3)
memory usage: 143.2+ KB
None
-------------------------------------------------------
               Age         Fare        Parch  PassengerId       Pclass  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean     29.881138    33.295479     0.385027   655.000000     2.294882
std      12.883193    51.738879     0.865560   378.020061     0.837836
min       0.170000     0.000000     0.000000     1.000000     1.000000
25%      22.000000     7.895800     0.000000   328.000000     2.000000
50%      29.881138    14.454200     0.000000   655.000000     3.000000
75%      35.000000    31.275000     0.000000   982.000000     3.000000
max      80.000000   512.329200     9.000000  1309.000000     3.000000

               Sex        SibSp    Survived   Embarked_C   Embarked_Q  \
count  1309.000000  1309.000000  891.000000  1309.000000  1309.000000
mean      0.644003     0.498854    0.383838     0.206264     0.093965
std       0.478997     1.041658    0.486592     0.404777     0.291891
min       0.000000     0.000000    0.000000     0.000000     0.000000
25%       0.000000     0.000000         NaN     0.000000     0.000000
50%       1.000000     0.000000         NaN     0.000000     0.000000
75%       1.000000     1.000000         NaN     0.000000     0.000000
max       1.000000     8.000000    1.000000     1.000000     1.000000

        Embarked_S
count  1309.000000
mean      0.699771
std       0.458533
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000
-------------------------------------------------------
    Age Cabin     Fare                                               Name  \
0  22.0     U   7.2500                            Braund, Mr. Owen Harris
1  38.0   C85  71.2833  Cumings, Mrs. John Bradley (Florence Briggs Th...
2  26.0     U   7.9250                             Heikkinen, Miss. Laina
3  35.0  C123  53.1000       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4  35.0     U   8.0500                           Allen, Mr. William Henry

   Parch  PassengerId  Pclass  Sex  SibSp  Survived            Ticket  \
0      0            1       3    1      1       0.0         A/5 21171
1      0            2       1    0      1       1.0          PC 17599
2      0            3       3    0      0       1.0  STON/O2. 3101282
3      0            4       1    0      1       1.0            113803
4      0            5       3    1      0       0.0            373450

   Embarked_C  Embarked_Q  Embarked_S
0         0.0         0.0         1.0
1         1.0         0.0         0.0
2         0.0         0.0         1.0
3         0.0         0.0         1.0
4         0.0         0.0         1.0

In [106]:
pclassDf = pd.DataFrame()

#使用get_dummies进行one-hot编码，列名前缀是Pclass
pclassDf = pd.get_dummies( full['Pclass'] , prefix='Pclass' )

#添加one-hot编码产生的虚拟变量（dummy variables）到泰坦尼克号数据集full
full = pd.concat([full,pclassDf],axis=1)

#删掉客舱等级（Pclass）这一列
full.drop('Pclass',axis=1,inplace=True)

In [107]:
full = full.drop(['PassengerId','Name','Cabin','Ticket'],axis=1)

In [108]:
print full.info()
print "-------------------------------------------------------"
print full.describe()
print "-------------------------------------------------------"
print full.head()
print "-------------------------------------------------------"
print full.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
Age           1309 non-null float64
Fare          1309 non-null float64
Parch         1309 non-null int64
Sex           1309 non-null int64
SibSp         1309 non-null int64
Survived      891 non-null float64
Embarked_C    1309 non-null float64
Embarked_Q    1309 non-null float64
Embarked_S    1309 non-null float64
Pclass_1      1309 non-null float64
Pclass_2      1309 non-null float64
Pclass_3      1309 non-null float64
dtypes: float64(9), int64(3)
memory usage: 122.8 KB
None
-------------------------------------------------------
               Age         Fare        Parch          Sex        SibSp  \
count  1309.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean     29.881138    33.295479     0.385027     0.644003     0.498854
std      12.883193    51.738879     0.865560     0.478997     1.041658
min       0.170000     0.000000     0.000000     0.000000     0.000000
25%      22.000000     7.895800     0.000000     0.000000     0.000000
50%      29.881138    14.454200     0.000000     1.000000     0.000000
75%      35.000000    31.275000     0.000000     1.000000     1.000000
max      80.000000   512.329200     9.000000     1.000000     8.000000

         Survived   Embarked_C   Embarked_Q   Embarked_S     Pclass_1  \
count  891.000000  1309.000000  1309.000000  1309.000000  1309.000000
mean     0.383838     0.206264     0.093965     0.699771     0.246753
std      0.486592     0.404777     0.291891     0.458533     0.431287
min      0.000000     0.000000     0.000000     0.000000     0.000000
25%           NaN     0.000000     0.000000     0.000000     0.000000
50%           NaN     0.000000     0.000000     1.000000     0.000000
75%           NaN     0.000000     0.000000     1.000000     0.000000
max      1.000000     1.000000     1.000000     1.000000     1.000000

          Pclass_2     Pclass_3
count  1309.000000  1309.000000
mean      0.211612     0.541635
std       0.408607     0.498454
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.000000     1.000000
75%       0.000000     1.000000
max       1.000000     1.000000
-------------------------------------------------------
    Age     Fare  Parch  Sex  SibSp  Survived  Embarked_C  Embarked_Q  \
0  22.0   7.2500      0    1      1       0.0         0.0         0.0
1  38.0  71.2833      0    0      1       1.0         1.0         0.0
2  26.0   7.9250      0    0      0       1.0         0.0         0.0
3  35.0  53.1000      0    0      1       1.0         0.0         0.0
4  35.0   8.0500      0    1      0       0.0         0.0         0.0

   Embarked_S  Pclass_1  Pclass_2  Pclass_3
0         1.0       0.0       0.0       1.0
1         0.0       1.0       0.0       0.0
2         1.0       0.0       0.0       1.0
3         1.0       1.0       0.0       0.0
4         1.0       0.0       0.0       1.0
-------------------------------------------------------
(1309, 12)

In [112]:
corrDf = full.corr()
print corrDf
print "-------------------------------------------------------"
print corrDf['Survived'].sort_values(ascending =False)

                 Age      Fare     Parch       Sex     SibSp  Survived  \
Age         1.000000  0.171521 -0.130872  0.057397 -0.190747 -0.070323
Fare        0.171521  1.000000  0.221522 -0.185484  0.160224  0.257307
Parch      -0.130872  0.221522  1.000000 -0.213125  0.373587  0.081629
Sex         0.057397 -0.185484 -0.213125  1.000000 -0.109609 -0.543351
SibSp      -0.190747  0.160224  0.373587 -0.109609  1.000000 -0.035322
Survived   -0.070323  0.257307  0.081629 -0.543351 -0.035322  1.000000
Embarked_C  0.076179  0.286241 -0.008635 -0.066564 -0.048396  0.168240
Embarked_Q -0.012718 -0.130054 -0.100943 -0.088651 -0.048678  0.003650
Embarked_S -0.059153 -0.169894  0.071881  0.115193  0.073709 -0.149683
Pclass_1    0.362587  0.599956 -0.013033 -0.107371 -0.034256  0.285904
Pclass_2   -0.014193 -0.121372 -0.010057 -0.028862 -0.052419  0.093349
Pclass_3   -0.302093 -0.419616  0.019521  0.116562  0.072610 -0.322308

            Embarked_C  Embarked_Q  Embarked_S  Pclass_1  Pclass_2  Pclass_3
Age           0.076179   -0.012718   -0.059153  0.362587 -0.014193 -0.302093
Fare          0.286241   -0.130054   -0.169894  0.599956 -0.121372 -0.419616
Parch        -0.008635   -0.100943    0.071881 -0.013033 -0.010057  0.019521
Sex          -0.066564   -0.088651    0.115193 -0.107371 -0.028862  0.116562
SibSp        -0.048396   -0.048678    0.073709 -0.034256 -0.052419  0.072610
Survived      0.168240    0.003650   -0.149683  0.285904  0.093349 -0.322308
Embarked_C    1.000000   -0.164166   -0.778262  0.325722 -0.134675 -0.171430
Embarked_Q   -0.164166    1.000000   -0.491656 -0.166101 -0.121973  0.243706
Embarked_S   -0.778262   -0.491656    1.000000 -0.181800  0.196532 -0.003805
Pclass_1      0.325722   -0.166101   -0.181800  1.000000 -0.296526 -0.622172
Pclass_2     -0.134675   -0.121973    0.196532 -0.296526  1.000000 -0.563180
Pclass_3     -0.171430    0.243706   -0.003805 -0.622172 -0.563180  1.000000
-------------------------------------------------------
Survived      1.000000
Pclass_1      0.285904
Fare          0.257307
Embarked_C    0.168240
Pclass_2      0.093349
Parch         0.081629
Embarked_Q    0.003650
SibSp        -0.035322
Age          -0.070323
Embarked_S   -0.149683
Pclass_3     -0.322308
Sex          -0.543351
Name: Survived, dtype: float64