In [27]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
print(os.listdir("../input"))

['task3_train.csv', 'test.csv', 'train.csv', 'gender_submission.csv']

In [28]:
df = pd.read_csv('../input/train.csv',header=None,sep=',')
print(df.head())
print(df.tail())
# 0：PassengerId => 乘客ID
# 1：Survived => 是否获救
# 2：Pclass => 乘客等级(1/2/3等舱位)
# 3：Name => 乘客姓名
# 4：Sex => 性别
# 5：Age => 年龄
# 6：SibSp => 堂兄弟/妹个数
# 7：Parch => 父母与小孩个数
# 8：Ticket => 船票信息
# 9：Fare => 票价
# 10：Cabin => 客舱
# 11：Embarked => 登船港口

            0         1       2   \
0  PassengerId  Survived  Pclass
1            1         0       3
2            2         1       1
3            3         1       3
4            4         1       1

                                                  3       4    5      6   \
0                                               Name     Sex  Age  SibSp
1                            Braund, Mr. Owen Harris    male   22      1
2  Cumings, Mrs. John Bradley (Florence Briggs Th...  female   38      1
3                             Heikkinen, Miss. Laina  female   26      0
4       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   35      1

      7                 8        9      10        11
0  Parch            Ticket     Fare  Cabin  Embarked
1      0         A/5 21171     7.25    NaN         S
2      0          PC 17599  71.2833    C85         C
3      0  STON/O2. 3101282    7.925    NaN         S
4      0            113803     53.1   C123         S
      0  1  2                                         3       4    5  6  7   \
887  887  0  2                     Montvila, Rev. Juozas    male   27  0  0
888  888  1  1              Graham, Miss. Margaret Edith  female   19  0  0
889  889  0  3  Johnston, Miss. Catherine Helen "Carrie"  female  NaN  1  2
890  890  1  1                     Behr, Mr. Karl Howell    male   26  0  0
891  891  0  3                       Dooley, Mr. Patrick    male   32  0  0

             8      9     10 11
887      211536     13   NaN  S
888      112053     30   B42  S
889  W./C. 6607  23.45   NaN  S
890      111369     30  C148  C
891      370376   7.75   NaN  Q

In [29]:
print(df.head(1))

            0         1       2     3    4    5      6      7       8     9   \
0  PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare

      10        11
0  Cabin  Embarked

In [30]:
print(df.head(1))
print(df.describe())

            0         1       2     3    4    5      6      7       8     9   \
0  PassengerId  Survived  Pclass  Name  Sex  Age  SibSp  Parch  Ticket  Fare

      10        11
0  Cabin  Embarked
         0    1    2                          3     4    5    6    7       8   \
count   892  892  892                        892   892  715  892  892     892
unique  892    3    4                        892     3   89    8    8     682
top     823    0    3  Graham, Mr. George Edward  male   24    0    0  347082
freq      1  549  491                          1   577   30  608  678       7

          9            10   11
count    892          205  890
unique   249          148    4
top     8.05  C23 C25 C27    S
freq      43            4  644

In [41]:
df = df[1:]
dd = df[1].astype('int')
print(dd.sum())

339